// We spell colour with a “U”

// Grays (Twitter Bootstrap)
// -------------------------
@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #555;
@grayLight:             #999;
@grayLighter:           #eee;
@white:                 #fff;


// // Accent colors (Twitter Bootstrap)
// // -------------------------
// @blue:                  #049cdb;
// @blueDark:              #0064cd;
// @green:                 #46a546;
// @red:                   #9d261d;
// @yellow:                #ffc40d;
// @orange:                #f89406;
// @pink:                  #c3325f;
// @purple:                #7a43b6;

// Accent colors (Flatly)
// -------------------------
@blue:                  #3498DB;
@blueDark:              #2C3E50;
@green:                 #18BC9C;
@red:                   #E74C3C;
@yellow:                #e6bb0d;
@orange:                #F39C12;
@pink:                  #ff6699;
@purple:                #8E44AD;

// Other Colours
@gunMetal:				#2284a1;
@grey:					#ccc;

@petulaGreen:			#4da100;

@eplBlue:				#2E4384;

@circ_widgetYellow:		#FEFCCF;


// Now let’s set some specific button colour variables

// Flat Button Colours
@primaryFlat: @eplBlue;
@secondaryFlat: @grayLight;
@disabledFlat: @pink;

@borderFlat: @grey;