// FLAT BUTTONS

.flat-button {
	border-style: none;
	border-width: 1px;
	border-radius: 1px;
	cursor: pointer;
	padding: 8px;

	font-family: "Lucida Grande";
	// font-weight: bold;
	font-size: 15px;

	&:focus {
		outline: 0;
	}
}

.small-button {
	padding: 8px;

	font-size: 13px;
}

// Primary Flat Button
.flat-primary {
	background-color: @primaryFlat;
	// border-color: @borderFlat;
	color: @white;

	width: 100%;

	.box-shadow(~"inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)");
	.transition(background-color .2s ease-out);

	&:hover {
		background-color: lighten(@primaryFlat, 10%);
		.transition(background-color .2s ease-out);
	}

	&:active {
		outline: 0;

		background-color: darken(@primaryFlat, 5%);
		.box-shadow(~"inset 0 2px 0 rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.05)");
	}
}

// Secondary Flat Button
.flat-secondary {
	background-color: @secondaryFlat;
	border-color: @borderFlat;
	color: @white;

	.box-shadow(~"inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)");
	.transition(background-color .2s ease-out);

	&:hover {
		background-color: darken(@secondaryFlat, 10%);
		.transition(background-color .2s ease-out);
	}
}

// Purchase Button with Prepend
.flat-purchase-prepend {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-color: @borderFlat;
	background-color: @orange;
	color: @white;
	.box-shadow(~"inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)");
	.transition(background-color .2s ease-out);

	&:hover {
		background-color: darken(@orange, 7%);
		.transition(background-color .2s ease-out);
	}

	&:active {
		.box-shadow(~"inset 0 1px 2px rgba(255,255,255,.4), 0 1px 2px rgba(0,0,0,.05)");
	}
}

// Disabled Flat Button
.flat-disabled {
	background-color: fade(@disabledFlat, 60%);
	border-color: @borderFlat;
	color: ;
}

.btn-link {
	background-color: transparent;
	border-color: transparent;
	text-decoration: none;
}

