// PAGE LAYOUT
.inline-block {
  display: inline-block;
}

body {
  margin-top: 40px;
  background-color: @white;
}

.circ_widget {
  width: 200px;
  background-color: @circ_widgetYellow;
  padding: 15px;
  margin-left: 20px;
}

.vertically_centered {
    vertical-align: 10%;
  }


// TYPE STUFF
hr {
  margin-top: 0;
  margin-bottom: 10px;
}

h5 {
  margin-top: 0;
  margin-bottom: 5px;
}

ul {
  list-style: none;
  margin-left: 0;

  li {
    line-height: 1.6em;
  }
}

a:hover {
  i {
    text-decoration: none;
  }
}


// READ NOW WELL
.read_now_well {
  background-color: darken(@circ_widgetYellow, 5%);
  .box-shadow(inset 0px 0px 1px darken(@circ_widgetYellow, 30%));

  padding-bottom: 5px;
  margin-bottom: 10px;

  button {
    margin-bottom: 5px;
  }

}

.read_now_well a {
  margin-left: 3px;
  font-size: 13px;

  i {
    font-size: 20px;
    margin-right: 5px;
  }

  .vertically_centered;
}

// DOWNLOAD WELL
.download_well {
  .clearfix;

  .border-radius(1px);

  background-color: @grayLighter;

  padding-top: 5px;
  // No padding for learn_menu branch
  // padding-bottom: 5px; 
  margin-bottom: 15px; // 5px for “Find it”; 15px for “Read it” version

  a {
    margin-left: 3px;
    font-size: 13px;
    line-height: 1.4em;

    .vertically_centered;
  }
}

.download_icon {
  font-size: 18px;
  // color: @gray;
  margin-right: 5px;
}

.file_info {
  display: block;
  margin-left: 3px;
  margin-bottom: 5px;
  line-height: .8em;
  font-size: 11px;
}

// LEARN MENU
.learn_menu {
  background-color: lighten(@grayLighter, 5%);
  margin-top: 10px;
  border-top: 1px solid lighten(@grayLighter, 3%);
}

a.learn_link {
  font-size: 11px;
  line-height: 2.0em;
}

.learn_dropdown {
  margin-bottom: 0;

  li {
    margin-left: 3px;
    font-size: 11px;
  }
}

// COLLECTION APPENDIX
h6 {
  margin-top: 15px;
  margin-bottom: 0;
}

ul.collection_appendix li {
  margin-top: 0;
  font-size: 13px;
}
